<style>

div
{font-family: 'Montserrat', sans-serif;
 }
 header
{font-family: 'Montserrat', sans-serif;
 }
 .font01
 {
     font-weight: bold;
     font-size: 120px; 
     color:white;
    
                         
 }
 .font02
 {
     position: relative;
     top: 30px;
     line-height:85px;
     font: weigt 75px;;
     font-size:60px;
     color:white;
 }
 .font03
 {
    text-align: center;
    line-height:85px;
    font: weigt 75px;;
    font-size:60px;
    color:white;

 }
 body{
    font-family: 'Montserrat', sans-serif;
     text-align:center;
     background-color: black;
 }  
header {
   text-align: right;
   color: rgb(255, 255, 255);      
            
}
span{
    padding: 0 15px;
    color: rgb(255, 255, 255);                        
}
a:hover{
    text-decoration: underline;
    opacity: .5;
    color: gray;
}
a:visited{
    color: white;

}
video{         
     
    width: 200px;
}
.animated-text{
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
}
.line{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}
.line:first-child{
    animation: anim 12s infinite;
}
@keyframes anim {

    16%{margin-top: -60px;}
    33%{margin-top: -120px;}
    50%{margin-top: -180px;}
    82%{margin-top: 0px;}
    }
</style>